<br><br>
<div class="container">
    <div class="jumbotron">
        <h2>Made by Tony Delarue</h2>
        <p><a href="https://www.linkedin.com/in/tonydelarue/?locale=en_US">My LinkedIn</a></p>
        <br><br>
        <p>I've been really able to work on it 5 days (most of them were in the learning of AngularJS and ExpressJS )
            in order to make this view due to too many exams</p>
        <p>I hope it's good enough as a test</p>
        <p>Kind regards</p>
        <p>Tony Delarue</p>
    </div>
</div>
